/*Burakhan ünver*/
.top {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
}

.middle-container {
  background-color: #cbf1f5;
}

.bottom-container {
  background-color: #71c9ce;
  padding: 10px;
}

.contact-me {
  background-color: #71c9ce;
  padding: 10px;
}

.skills {
  background-color: #a6e3e9;
  padding: 10px;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.bottom-cloud {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

#get-in-touch {
  margin-top: 0;
  color: #11999E;
}

#para-last {
  margin-bottom: 0;
}

#freepik {
  margin-bottom: 0;
}

#comp-eng{
    font-weight: normal;
}

a{
    color:#e3fdfd ;
}

a:hover{
    color: #000000;
}