p {
  font-family: "Yusei Magic", sans-serif;
}

/* Navbar */

.navbar {
  background-color: #222831;
}

/* First section */

#first {
  padding: 3% 15%;
  background-color: #393e46;
}

#first h1 {
  color: #eeeeee;
  font-size: 5rem;
  font-family: "Caveat", cursive;
}

#first p {
  color: #eeeeee;
  font-size: 1.2rem;
}

.about {
  padding-top: 5%;
  text-align: center;
}
/* Second section */
#second {
  background-color: #eeeeee;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sc {
  padding: 0 10px;
}

.s-fac {
  color: #393e46;
}

.s-fac:hover {
  color: #00adb5;
}

/* Third section */

.theader {
  background-color: #393e46;
  margin: 0;
}

.th11 {
  margin: 0;
  padding-top: 30px;
  text-align: center;
  color: #00adb5;
  font-size: 4rem;
  font-family: "Caveat", cursive;
}

#car {
  background-color: #393e46;
}

.carousel-item {
  padding: 3% 15%;
  text-align: center;
  color: #eeeeee;
}

.ch1 {
  font-size: 2.6rem;
}

.cp {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Fourth section */

#fourth{
    text-align: center;
    padding: 20px 50px;
    background-color: #eeeeee;
}

.four-cards{
    background-color: #eeeeee;
    text-align: center;
    padding-top: 20px;
}

.fa-lemon{
    color: darkgreen;
}

.cards{
    padding-bottom: 20px;
}

/* fifth section*/

#fifth{
    background-color: #393e46;
    padding-bottom: 30px;
}
#fifth h2{
    color: #00adb5;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

#fifth p{
    color: #eeeeee;
    margin: 10px 15%;
}